@import url(https://fonts.googleapis.com/css?family=Merriweather:200,400,700|Open+Sans:400italic,700italic,400,700|Slabo+27px:400);

html {
  background: radial-gradient(circle at center, bisque, lightblue);
}

/*HEADER*/
header {
  margin-bottom: 30px;
  min-height: 150px;
}


/*TYPOGRAPHY*/
body {
  font-size: 15px;
  font-family: "Merriweather";
}

a:link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

h1,h2 {
  font-family: "Merriweather";
  color: white;
  text-shadow: 2px 2px black;
}

h1 {
  font-size: 2.7rem;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-left: 15px;
}

h3 {
  text-align: center;
}

p {
  margin: 15px;
}

/*BODY (INTRO) SECTION*/
section#intro {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media screen and (min-width:1080px) {
  section#intro {
      grid-template-columns: 45% 55%;
    }
}

/*BODY (APP) SECION*/
section#grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 0 10px #666;
  text-align: justify;
  font-family: Merriweather;
  font-size: 13px;
}

@media screen and (min-width:500px) and (max-width:800px) {
  section#grid {
    grid-template-columns: 1fr 1fr;
  }
  div.facebook,
  div.snapchat {
    grid-row: 1;
  }
  div.groupme,
  div.twitter {
    grid-row: 2;
  }
}

@media screen and (max-width:500px) {
  section#grid {
    grid-template-columns: 1fr;
  }
  div.facebook {
    grid-row: 1;
  }
  div.snapchat {
    grid-row: 2;
  }
  div.groupme {
    grid-row: 3;
  }
  div.twitter {
    grid-row: 4;
  }
}

div.img-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/*BODY (EXPLAINED VID) SECTION*/
div.video-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

div.video-container iframe {
  position: relative;
  top: 0; left: 0;
  margin-left: 15px;
  min-width: 90%;
  min-height: 100%;
  margin-bottom: 35px
}

section#data-video {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 margin-right: 15px;
}

/*FOOTER*/
footer {
  height: 75px;
  color: black;
  text-align: center;
  font-size: 13px;
}
