@import url(https://fonts.googleapis.com/css?family=Merriweather:200,400,700|Open+Sans:400italic,700italic,400,700|Slabo+27px:400);

html {
  background: radial-gradient(circle at center, bisque, lightblue);
}

header {
  margin-bottom: 30px;
}

p {
  margin: 15px;
}

body {
  font-size: 15px;
  font-family: "Merriweather";
}

a:link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

h1,h2,h3, {
  font-family: "Merriweather";
}

h1 {
  font-size: 2.7rem;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 15px;
}

h2 {
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px black;
  margin-left: 15px;
}

h3 {
  font-size: 15px;
  text-align: center;
}

.blocks {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-gap: 50px;
  margin-right: 16px;
  margin-left: 16px;
  padding: 10px;
  height: 400px;
  box-shadow: 0 0 10px #666;
  text-align: justify;
  font-family: Merriweather;
  font-size: 13px;
  margin-bottom: 10px;

}

img.icons {
  display: block;
  margin-right: 80px;
  margin-left: 80px;
}


div.video-container {
  position: relative;
  width: 100%;
  margin-top: 15px;
}

div.video-container iframe {
  position: absolute;
  top: 0; left: 0;
  margin-left: 15px;
  width: 90%;
  height: 100%;
  margin-bottom: 35px
}

section#social,
header {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media screen and (min-width:1080px) {
  section#social {
    grid-template-columns: 60% 40%;
  }

@media screen and (min-width:1080px) {
  header {
      grid-template-columns: 46% 54%;
    }

@media screen and (max-width: 670px) {
  section#social div.media-wrapper, section#blocks div.blocks {
    grid-row: 1;
    grid-column: 1;
  }

section#social div.content-wrapper {
  margin-right: 15px;
}

header {
  height: 370px;
}

footer {
  height: 350px;
}
